# **A Comprehensive Guide to List Methods in Python**

**1. append()**

The append() method adds a single element to the end of a list.

In [4]:
list = [1,2,3]
list.append (4)
list

[1, 2, 3, 4]

**2. extend()**

The extend() method adds multiple elements (from an iterable) to the end of a list.

In [5]:
fruits = ['apple', 'banana']
fruits.extend(['cherry', 'orange'])
print(fruits)

['apple', 'banana', 'cherry', 'orange']

**3. insert()**

The insert() method adds an element at a specified position in the list.

In [8]:
fruits = ['apple', 'banana']
fruits.insert(1, 'cherry')
print(fruits)

['apple', 'cherry', 'banana']

4**. remove()**

The remove() method removes the first occurrence of a specified element from the list. If the element is not found, it raises a ValueError.

In [7]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove('banana')
print(fruits)

['apple', 'cherry']

**5. pop()**

The pop() method removes and returns the element at a specified index. If no index is provided, it removes and returns the last element.

In [9]:
fruits = ['apple', 'banana', 'cherry']
popped_fruit = fruits.pop(1)
print(popped_fruit)
print(fruits)

banana
['apple', 'cherry']

**6. clear()**

The clear() method removes all elements from the list, leaving it empty.

In [10]:
fruits = ['apple', 'banana', 'cherry']
fruits.clear()
print(fruits)

[]

7**. index()**

The index() method returns the index of the first occurrence of a specified element. If the element is not found, it raises a ValueError.

In [11]:
fruits = ['apple', 'banana', 'cherry']
index = fruits.index('banana')
print(index)

1

8. count()
**bold text**
The count() method returns the number of times a specified element appears in the list.

In [12]:
fruits = ['apple', 'banana', 'cherry', 'banana']
count = fruits.count('banana')
print(count)

2

**9. sort()**

The sort() method sorts the elements of the list in ascending order (or another order specified by the key and reverse parameters).

In [13]:
numbers = [3, 1, 4, 1, 5, 9]
numbers.sort()
print(numbers)

[1, 1, 3, 4, 5, 9]

**10. reverse()**

The reverse() method reverses the order of elements in the list.

In [14]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

**11. copy()**

The copy() method returns a shallow copy of the list. This is useful for creating a new list with the same elements as the original.

In [15]:
fruits = ['apple', 'banana', 'cherry']
fruits_copy = fruits.copy()
print(fruits_copy)

['apple', 'banana', 'cherry']